.App{
  text-align: center;
  border: 2px solid #398239;
  width: 80%;
  margin: 5% auto;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}


.form-input, .address{
  display: flex;
  flex-direction: column;
}
.form-input input, .address input{
  height: 30px;
}

select{
  background-color: #fff;
  color: grey;
  border: 1px solid grey;
  height: 34px;
}

.group1, .group2{
  display: flex;
  justify-content: space-evenly;
  width: 100%;

}
.form-input{
  width: 100%;
}

.form-checkbox label, .form-checkbox input{
  margin: 0 3px;
}
.address{
  width: calc(100% - 7px);
}

.form-input{
  margin: 5px;
}
label, h1{
  color: #333;
}

button{
  height: 30px;
  width: 10%;
  background: #398239;
  border: none;
  color: #fff;
  margin-top: 10px;
}
label{
  padding: 10px 0;
}